$shadow: 0 8px 6px -6px black;

//Header Styles

header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Top Video Section Styles

#top-section {
  background-color: #ffe6b3;
  iframe {
    width: 550px;
    height: 350px;
    border-radius: 5px;
    border: solid white 3px;
  }
  .top-section-wrapper {
    margin: 0 auto;
  }
  .top-section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 2rem;
  }
  .fa-check {
    padding: 0.25rem;
    color: white;
    font-size: 1.5rem;
    background-color: #1c64d8;
    border-radius: 50px;
    margin-right: 0.5rem;
  }
  .space-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 2rem 2rem 2rem 0;
    button {
      width: 400px;
      height: 4rem;
      box-shadow: $shadow;
      transition: background-color 150ms ease and border-color 150ms ease;
      &:hover {
        background-color: #c96480;
        border-color: #c96480;
      }
      h4 {
        margin: 0;
        padding: 0;
      }
    }
  }
}

//Horizonal rule Styles

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: '';
    background: grey;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
  }
}

//First Jumbotron Styles

.jumbotron-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #98c3ce;
  color: white;
  p {
    font-size: 2.5rem;
    margin: 0;
    @media (max-width: 992px) {
      font-size: 1.5rem;
    }
    @media (max-width: 576px) {
      font-size: 1rem;
    }
  }
}

//Thumbnail Carousel Section Styles

#carousel-section {
  .features-wrapper {
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
  }
  button {
    width: 400px;
    height: 3rem;
    display: inline-block;
    box-shadow: $shadow;
    transition: background-color 150ms ease and border-color 150ms ease;
    &:hover {
      background-color: #c96480;
      border-color: #c96480;
    }
  }
  #product-carousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
  }

  #product-carousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
  }

  #product-carousel .carousel-indicators > li.active img {
    opacity: 0.7;
  }

  .carousel-inner {
    img {
      height: 350px;
      object-fit: cover;
    }
  }

  .carousel-indicators {
    margin-left: 0;
    margin-right: 0;
  }
  #product-carousel .list-inline {
    white-space: nowrap;
    overflow-x: auto;
    img {
      height: 100px;
      width: 100px;
    }
  }
}

//Second Jumbotron Styles

.jumbotron-dark {
  background-color: black;
  color: white;
  p {
    opacity: 0.75;
  }
}

//Features Section Styles

#features-section {
  .features-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }
  }
  .droplets {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-tint {
      margin: 1.5rem;
      font-size: 5rem;
    }
    .blue {
      color: #8ec8d2;
    }
    .purple {
      color: #c4c0e3;
    }
    .pink {
      color: #e8bddc;
    }
    .green {
      color: #d4edc0;
    }
    .l-purple {
      color: #daccdd;
    }
  }
  .fa-chart-line,
  .fa-volume-up,
  .fa-bell,
  .fa-mobile-alt,
  .fa-battery-three-quarters,
  .fa-map-marker-alt {
    height: 70px;
    width: 70px;
    padding: 1rem;
    border: 1px solid grey;
    margin-right: 0.5rem;
    border-radius: 50px;
    color: green;
  }
}

//Product Selection section Styles

#products-section {
  background-color: #edc4e7;
  button {
    height: 3rem;
    width: 300px;
    transition: background-color 150ms ease and border-color 150ms ease;
    &:hover {
      background-color: #c96480;
      border-color: #c96480;
    }
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
      padding-top: 1rem;
    }
  }
}

//Testimonials Section Styles

#testimonials-section {
  .testimonials-header {
    color: #336a9a;
  }
  .fa-star,
  .fa-star-half-alt {
    color: orange;
  }
}

//Three column Lotions Products styles

#lotions-products-section {
  background-color: #ffffea;
  .lotions-product-small,
  .lotions-product-large {
    padding: 1rem 2rem;
    background-color: white;
    border: 2px solid #5bc0de;
  }
  .lotions-product-large {
    .ribbon {
      width: 150px;
      height: 150px;
      overflow: hidden;
      position: absolute;
    }
    .ribbon::before,
    .ribbon::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid red;
    }
    .ribbon span {
      position: absolute;
      display: block;
      width: 225px;
      padding: 15px 0;
      background-color: red;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      color: #fff;
      font: 700 12px/1 'Lato', sans-serif;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      text-align: center;
    }
    .ribbon-top-right {
      top: 0px;
      right: 15px;
    }
    .ribbon-top-right::before,
    .ribbon-top-right::after {
      border-top-color: transparent;
      border-right-color: transparent;
    }
    .ribbon-top-right::before {
      top: 0;
      left: 0;
    }
    .ribbon-top-right::after {
      bottom: 0;
      right: 0;
    }
    .ribbon-top-right span {
      left: -25px;
      top: 30px;
      transform: rotate(45deg);
    }
  }
  .price-change {
    display: flex;
    justify-content: space-between;
    p {
      color: red;
    }
  }
}

//Helpers classes

.padding-top {
  padding-top: 2rem;
}
.padding-bottom {
  padding-bottom: 2rem;
}
.padding-top-sm {
  padding-top: 1rem;
}
.padding-bottom-sm {
  padding-bottom: 1rem;
}
.jumbotron {
  border-radius: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
